body {
  margin:0;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:45px;
  text-align:center;
  margin:0;
  padding:20px;
}
h3{
  margin-top: 50px;
}

ol {
  width:100px;
  margin:0;
  padding:20px;
 }

ul{
  width:300px;
}

.nav-tabs{
  border-bottom: 0;
}
#grid{
  display:grid;
  grid-template-columns: 120px 1fr;
}
#grid ol{
  padding-left: 15px;
}
#grid #article{
  padding-left: 25px;
}
@media(max-width:1000px)
{
  #grid{
    display:block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
